{% extends 'layout.html' %}

{% load django_bootstrap5 %}

{% block title %}{% endblock %}

{% block content %}

<div>
    <h3><a href='{% url "reviews:index" %}' class="text-dark">NaanCurrys<b>Review</b></a></h3>
    {% if request.user.id == object.author_id %}
        | <a href='{% url "reviews:reviewUpdate" object.pk %}'>編集</a>
        | <a href='{% url "reviews:reviewDelete" object.pk %}'>削除</a>
    {% endif %}
</div>

<h1>店名：<a href='{% url "reviews:shopDetail" object.name_id %}' class="text-dark">{{ object.name }}</h1>
<h4>投稿日時：{{ object.created_at }}</h4>
<h3>投稿者：{{ object.author }}</a></h3>
<h2>総合評価：{{ object.ovrpoint.point }}</h2>
<h5>menu:{{ object.menu }}</h5>
<h5>価格:{{ object.price }}円</h5>

<canvas id="myChart"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        //グラフの種類
        type: 'radar',
        //データの設定
        data: {
            //データ項目のラベル
            labels: ["カレー", "ナン", "接客", "内装", "トイレ"],
            //データセット
            datasets: [{
                //背景色
                backgroundColor: "rgba(51,255,51,0.5)",
                //枠線の色
                borderColor: "rgba(51,255,51,1)",
                //結合点の背景色
                pointBackgroundColor: "rgba(51,255,51,1)",
                //結合点の枠線の色
                pointBorderColor: "#fff",
                //結合点の背景色（ホバ時）
                pointHoverBackgroundColor: "#fff",
                //結合点の枠線の色（ホバー時）
                pointHoverBorderColor: "rgba(51,255,51,1)",
                //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                hitRadius: 5,
                //グラフのデータ
                data: ['{{object.curpoint.point}}', '{{object.naapoint.point}}', '{{object.serpoint.point}}', '{{object.intpoint.point}}', '{{object.toipoint.point}}']
            }]
        },
        //オプションの設定
        options: {
            scale: {
                ticks: {
                    // 最小値の値を0指定
                    beginAtZero: true,
                    min: 0,
                    stepSize: 1,
                    // 最大値を指定
                    max: 5,
                },
                pointLabels: {
                    fontSize: 10
                }
            },
            //ラベル非表示
            legend: {
                display: false,
            }

        }
    });

</script>

<table class='table table-hover'>
    <tr>
        <th>カレー</th><th>ナン　</th><th>接客　</th><th>内装　</th><th>トイレ</th>
    </tr>
    <tr>
        <td>{{ object.curpoint }}</td>
        <td>{{ object.naapoint }}</td>
        <td>{{ object.serpoint }}</td>
        <td>{{ object.intpoint }}</td>
        <td>{{ object.toipoint }}</td>
    </tr>
</table>

<div class="pb-5">
    <p>memo:</p>
    <p>{{ object.memo }}</p>
</div>

{% endblock %}