{% extends 'bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom'>
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class='navbar-nav'>
            {% if user.is_authenticated %}
                <li class='nav-time'>
                    <span class='navbar-text'>{{ user }} - </span>
                </li>
                <li class='nav-item'>
                    <form method="post" action='{% url "accounts:logout" %}'>
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class='nav-item'>
                    <a href='{% url "accounts:login" %}' class='login nav-link'>Login</a>
                </li>
                <li class="nav-item">
                    <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}